@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Rubik-Bold";
  src: url("/fonts/Rubik-Bold.woff2") format("woff2"),
    url("/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Light";
  src: url("/fonts/Rubik-Light.woff2") format("woff2"),
    url("/fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Regular";
  src: url("/fonts/Rubik-Regular.woff2") format("woff2"),
    url("/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("/fonts/Rubik-Medium.woff2") format("woff2"),
    url("/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
